<main>
    <div class="container">

        <section class="posts">
            <article class="post">
                <h2>{{titulo}}</h2>
                <span class="date-post">{{createdAt}}</span>

                <p>{{conteudo}}</p>

            </article>

        </section>

        <aside>

            <div class="posts-recentes">
                <h3>Postagens recentes</h3>
                {{#each postsRecentes}}
                <h4><a href="/post/{{id}}">{{titulo}}</a></h4>
                <p class="resume">{{conteudo}}</p>
                <hr>
                {{/each}}
                

            </div>

            <div class="categorias">
                <h3>Categorias</h3>
                {{#each categorias}}
                <a href="/categoria/{{descricao}}">{{descricao}}</a>
                {{/each}}
            </div>

        </aside>
    </div>
</main>